In [21]:
import os
import logging
import pandas as pd
from slack_sdk import WebClient  # Import WebClient from Python SDK (github.com/slackapi/python-slack-sdk)
import time


## Read Conversations

conversations = pd.read_csv('~/workspace/analytics/data/conversations_history.csv')

## Read Users

users = pd.read_csv('~/workspace/analytics/data/user_list.csv')

## Read Channels

channels = pd.read_csv('~/workspace/analytics/data/channels.csv')

,Unnamed: 0,channel,type,user,text,ts
61370,61370,CE68ALZ28,message,NaN,NaN,2021-08-25 21:13:19.197700024
61371,61371,CE68ALZ28,message,NaN,NaN,2021-08-25 21:04:33.197599888
61372,61372,CE68ALZ28,message,NaN,NaN,2021-08-25 21:02:30.197499990
61373,61373,CE68ALZ28,message,NaN,NaN,2021-08-25 21:01:19.197400093
61374,61374,CE68ALZ28,message,NaN,NaN,2021-08-25 20:43:28.197299957
...,...,...,...,...,...,...
215109,215109,NaN,NaN,NaN,NaN,NaN
215197,215197,NaN,NaN,NaN,NaN,NaN
215207,215207,NaN,NaN,NaN,NaN,NaN
215244,215244,NaN,NaN,NaN,NaN,NaN
215282,215282,NaN,NaN,NaN,NaN,NaN

In [40]:
# Find Last 50 MActive Users

conversations_max = conversations.groupby(['user'], as_index = False).agg({'ts':'max'})
conversations_max.sort_values(by = 'ts', ascending = False, inplace = True)
conversations_joined = pd.merge(conversations_max, users, how = 'left', left_on = ['user'], right_on = ['id'])
conversations_joined [['user','display_name' ,'email','ts']].head(50)


conversations_joined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3507 entries, 0 to 3506
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user                3507 non-null   object
 1   ts                  3507 non-null   object
 2   Unnamed: 0          3481 non-null   float64
 3   id                  3481 non-null   object
 4   email               3466 non-null   object
 5   title               338 non-null    object
 6   first_name          1559 non-null   object
 7   last_name           1463 non-null   object
 8   real_name           3481 non-null   object
 9   tz                  0 non-null      float64
 10  display_name        2778 non-null   object
 11  is_email_confirmed  0 non-null      float64
 12  updated             0 non-null      float64
dtypes: float64(4), object(9)
memory usage: 383.6+ KB

In [55]:
# Weekly Joins to General

general_join = conversations[(conversations['channel'] == 'CE68ALZ28') & (conversations['text'].str.contains('join', na=False))]
general_join['ts'] = pd.to_datetime(general_join['ts'])

/var/folders/gb/vkkwn_y50qlcw8ck_mh4lbb00000gn/T/ipykernel_84265/2533301137.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  general_join['ts'] = pd.to_datetime(general_join['ts'])
/var/folders/gb/vkkwn_y50qlcw8ck_mh4lbb00000gn/T/ipykernel_84265/2533301137.py:7: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  general_join.groupby(general_join['ts'].dt.week).count()

    Unnamed: 0  channel  type  user  text  ts
ts
2            4        4     4     4     4   4
4            1        1     1     1     1   1
5            1        1     1     1     1   1
8            1        1     1     1     1   1
19           1        1     1     1     1   1
26           1        1     1     1     1   1
27           2        2     2     2     2   2
28           2        2     2     2     2   2
29           1        1     1     1     1   1
34           3        3     3     3     3   3
37           1        1     1     1     1   1
46           2        2     2     2     2   2
47           5        5     5     5     5   5
49           1        1     1     1     1   1
50           1        1     1     1     1   1
51           1        1     1     1     1   1